<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{base :: layout(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>WoT Stat Tracker</title>
</head>
<body>
    <section class="px-5 py-3 text-center">
        <h3 class="mb-5">Welcome to World of Tanks Stat Tracker!</h3>
        <div class="card col-md-4 mx-auto p-3">
            <span>This web resource acts as an independent replacement for the famous WoT Assistant, which was discontinued on 28 Oct. 2022 </span>
            <span>Here you can use the "Search" field to start tracking your statistics, which you can view in the form of tables, summaries and graphs of the performance of the sessions.</span>
        </div>
        </section>
</body>
</html>
